<div class="search">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input id="name" type="text" formControlName="cityName" placeholder="Search City">
  </form>
</div>


<div class="container">
  
  <div class="upper-data">
<img src="../assets/hot.jpg" *ngIf="getTemperature() >= 15">
<img src="../assets/cold.jpg" *ngIf="getTemperature() <=15">
  </div> 

  <div class="weather-data">
    <div class="location">{{getCityName()}}</div>
    <div class="temperature">{{getTemperature()}}°C</div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information:
    </div>
  
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <span>Min Temp</span>
        </div>
        <div class="info-block-value">
          {{getTempMin()}}°C
        </div>
      </div>
  
      <div class="info-block">
        <div class="info-block-label">
          <span>Max Temp</span>
        </div>
        <div class="info-block-value">
          {{getTempMax()}}°C
        </div>
      </div>
    </div>
  
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{getHumidity()}}%
        </div>
      </div>
  
      <div class="info-block">
        <div class="info-block-label">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{getWind()}}km/h
        </div>
      </div>
    </div>
  </div>
  
</div>
<router-outlet />
